{{--
  Card Header Component (shadcn/ui-inspired)

  Props:
  - class: Additional CSS classes

  Usage:
  @component('components.ui.card-header')
    Card header content
  @end
--}}

<header
  {{ $props.merge({}).toAttrs() }}
>
  {{{ await $slots.main() }}}
</header>
